* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "partials/fonts";

h1 {
  font-size: calc(1.5rem + 3vw);
  font-family: $montserrat;
  font-weight: 00;
}
